<!doctype html>
<html>
<head>
  <title>{{title}}| Mahilet</title>
    <meta charset=utf8>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <h1>this is 'default.html'</h1>
    <h2>this is 'default.html'</h2>
    <ul>
      
        <li><a href="/">Home</a></li>
    <ul>


    <p><------------- beging content from templates-------------->

      {{{content}}}

      <p><------------- beging content from templates-------------->

      <footer><h3>this is footer</h3></footer>
  </body>
</html>
