<!doctype html>
<html>
  <head>
    <meta charset=utf8>
    <title>blog</title>
  
     <link rel="stylesheet"  href="/assets/css/style.css">
  </head>
<body>
  <div id = "wrapper">
  <header>

    <h2> THIS IS FROM THE DEFAULT LAYOUT PAGE</h2>

  </header>

  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "/createpost">New topic</a></li>

      <li><a href = "/bios">bios</a></li>
      <li><a href = "/login">login</a></li>

    </ul>

  </nav>

    <p> Discussion topic: FOOD (this will be replaced by variable)</p>
  <div id  = "multi-posts">

    <!-- <p>--below is 'contents' from 'index.html'--</p> -->
      {{{content}}}
      <!-- <p>--end 'contents' from 'index.html'-- -->



  </div>
  <nav>
    <ul>
      <li>  <a href = "/createpost"><h1>reply</h1></a></li>

    </ul>

  </nav>

</div>

<!-- <script src="//localhost:35729/livereload.js"></script>-->
</body>
</html>
