<!-- 
<h2>THIS IS MY LIST PAGE for {{topic}} TOPIC</h2>

<h3>this should list about zero blogs post per page</h3>
<p>
<li><a href="http://codeforgeek.com/2015/01/nodejs-mysql-tutorial/" target ="#" >mysqlwExpress install</a></li>

<li><a href="http://www.thegeekstuff.com/2014/01/mysql-nodejs-intro/" target ="#" >intall article</a></li>

<li><a href="http://stackoverflow.com/questions/5818312/mysql-with-node-js" target ="#">STACK OVERFLOW ON MYSQL DRIVERS</a></li>

<li><a href="http://www.smashingmagazine.com/2014/05/22/detailed-introduction-nodejs-mongodb/" target ="#" >MONGO</a></li>

<li><a href="https://dev.mysql.com/doc/refman/5.1/en/windows-installation.html" target ="#">installing mysql locally</a></li>

<li><a href="https://dev.mysql.com/doc/refman/5.1/en/windows-start-service.html" target ="#">installing mysql as a service</a></li>



https://dev.mysql.com/doc/refman/5.1/en/windows-start-service.html
</p>
 -->
<ul >
    {{#list}}
    <li><a href="bios/bio/{{@index}}"><img src="{{icon}}" class="icon"></li>
       <li><h3>On {{date}}, {{username}} </a>says:</li>

       <li class = "single"><p>{{comment}}</li>

    {{/list}}

</ul>
